form.old-form * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form.old-form label {
    color: #fff;
    margin: 1px;
}
form.old-form input[type="submit"] {
    margin: 1em auto;
}
form.old-form input[disabled] {
    opacity: 1;
}
