ul.work-subnav {
  list-style: none;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul.work-subnav li {
  font-family: 'Lato', sans-serif;
  margin: 1.5em 0;
  font-size: 1.5em;
}

.row.work-row {
  padding: 3em 0 3em;
}

ul.work-list {
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.work-list-item h3,
.work-list-item h3 a {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, .87);
}

.work-list-item h3 a:hover,
.work-list-item h3 a:active,
.work-list-item h3 a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.work-list-item.active h3 a {
  color: #1cb5e0;
}

.work-list-item p,
.work-list-item p a {
  margin: 0;
  color: rgb(177, 176, 176);
  font-family: 'Dosis';
}

li.work-list-item {
  margin: 4em 0;
}

.work-col.work-col-right {
  padding: 8em 0 0;
}
.work-col.work-col-left {
  padding: 0 5em 0em 6em;
}

.work-img-wrapper {
  position: relative;
  height: 300px;
  margin-bottom: 4em;
}

.work-img-wrapper div {
  height: 290px;
  width: 50%;
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(28, 181, 224);
  border-radius: 2px;
}

.work-img-other {
  bottom: -10%;
  right: 10%;
}

.work-img-main {
  left: 0px;
  top: -40px;
}

p.work-desc, div.work-header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h2.work-title {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  display: inline;
}

p.work-subtitle {
  margin: 0.2em 0.8em 0;
  font-family: 'Lato', sans-serif;
  color: #b5b1b0;
}

.work-links {
  font-size: 2.8em;
  margin: 0.4em 0px;
}
.work-links a {
  color: #1cb5e0;
}

.work-links a i.icons {
   margin: 0em .3em;
}
