.header {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.layer-wrapper {
  z-index: 0;
}

.scroll-space {
  height: 100vh;
}

.social-links {
  font-size: 3em;
  color: #fcfcfc;
  margin: .6em 0;
}

i.icons {
  margin: .5em;
}

hr {
  width: 120px;
  border-style: solid;
  color: #fcfcfc;
}

p.title {
  color: #fcfcfc;
  letter-spacing: 1px;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  margin: 1.6em 0;
}

div.call-to-action {
  color: #fcfcfc;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 8vh;
  z-index: 10;
}

p.cta-text {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  margin: .5em;
}

i.icon-arrow-down.icons {
  font-size: 2em;
  margin-top: 1.2em;
  top: 1px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a.scroll-link, a.icon-href {
  text-decoration: none;
  color: #fcfcfc;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-18px);
    transform: translateY(-18px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

div#site {
  padding: 2em 0px;
}
