.header {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.layer-wrapper {
  z-index: 0;
}

.scroll-space {
  height: 1000px;
}

.social-links {
  font-size: 3em;
  color: #fcfcfc;
  margin: 1em 0;
}

i.icons {
  margin: .5em;
}

hr {
  width: 220px;
  border-style: solid;
  color: #fcfcfc;
}

p.title {
  color: #fcfcfc;
  letter-spacing: 1px;
  font-family: 'Roboto';
}
